<div class="container-fluid" ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close();"><span aria-hidden="true">&times;</span></button>
        <h3>Offline Scores</h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered" style="border:1px solid lightgrey;margin-bottom:0px;">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Name</th>
                    <th>Total Questions</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind-html="user.fullName"></td>
                    <td ng-bind-html="user.totalQuestions"></td>
                    <td ng-bind-html="user.correctAnswers"></td>
                    <td ng-bind-html="user.incorrectAnswers"></td>
                    <td ng-bind-html="user.score"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok();$close();">OK</button>
        <button class="btn btn-primary" type="button" ng-click="$close();">Cancel</button>
    </div>
</div>
