<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-striped table-hover table-bordered" style="border:1px solid lightgrey;">
                    <thead>
                        <tr class="success">
                            <th>S No.</th>
                            <th>Exam Title</th>
                            <th>Durations(in hours)</th>
                            <th>Starting On</th>
                            <th>Syllabus</th>
                            <!-- <th>Questions</th> -->
                            <th>Score</th>
                            <!-- <th>Rank</th> -->
                            <th>Percentile</th>
                            <th>Files</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exam in vm.exams">
                            <th scope="row" ng-bind="$index + 1"></th>
                            <td ng-bind="exam.title"></td>
                            <td ng-bind="exam.durationInHrs"></td>
                            <td ng-bind="exam.startDate | date : 'fullDate'"></td>
                            <td>
                                <!-- <a target="_self" href="{{exam.file}}" download="file" ng-if="exam.file" title="Download Test Syllabus" class="btn btn-default btn-sm">
                                    <i class="fa fa-files-o" aria-hidden="true"></i>
                                </a> -->
                                <a target="_self" href="{{exam.file}}" download="file" ng-if="exam.file">
                                    <i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
                                </a>
                            </td>
                            <!-- <td ng-bind="exam.questionCount"></td> -->
                            <td ng-bind="exam.score"></td>
                            <!-- <td ng-bind="exam.rank"></td> -->
                            <td ng-bind="exam.percentile"></td>
                            <td>
                                <div ng-if="exam.status=='evaluated' && exam.attachment.length > 0">
                                    <a target="_self" href="{{exam.attachment[0]}}" download="file" ng-if="exam.attachment[0]">
                                        <i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
                                    </a>
                                    <a target="_self" href="{{exam.attachment[1]}}" download="file" ng-if="exam.attachment[1]">
                                        <i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" ng-disabled="true" ng-if="exam.isUpcoming">
                                    <i class="fa fa-info fa-fw" aria-hidden="true"></i> Upcoming
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.startExam(exam)" ng-if="!exam.status && !exam.isUpcoming">
                                    <i class="fa fa-play fa-fw" aria-hidden="true"></i> Start Exam
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.startExam(exam)" ng-if="exam.status == 'pending'">
                                    <i class="fa fa-repeat fa-fw" aria-hidden="true"></i> Resume Exam
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-disabled="true" ng-if="exam.status=='completed'">
                                    <i class="fa fa-info fa-fw" aria-hidden="true"></i> Waiting For evaluation
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.showAnswers(exam)" ng-if="exam.status=='evaluated'">
                                    <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Review Result
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
