<div class="container-fluid" ng-cloak>
    <div class="row" ng-keep-scroll>
        <div class="col-md-12">
            <!-- <div class="panel panel-default"> -->
            <nav aria-label="Page navigation">
                <div class="pull-left" style="margin:9px 12px;">Total: <span ng-bind="vm.questionCount"></span></div>
            </nav>
            <!-- <table class="table table-striped table-hover table-valign-middle" style="border:1px solid lightgrey;margin-bottom:0px;">
                    <thead>
                        <tr class="success">
                            <th></th>
                            <th>Id</th>
                            <th>Question</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="question in vm.questions">
                            <th scope="row">
                                <input type="checkbox" ng-change="vm.questionSelection();" ng-model="question.isSelected" />
                            </th>
                            <td ng-bind="question.id"></td>
                            <td ng-bind="question.question | htmlToPlaintext">
                            </td>
                            <td ng-bind="question.type"></td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-lg fa-fw" title="Edit" aria-hidden="true" ng-click="vm.getQuestionById(question.id); " style="vertical-align:-4px;"></i>
                                <i class="fa fa-trash-o fa-lg fa-fw" title="Delete" aria-hidden="true" ng-click="vm.deleteQuestion(question.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            <!-- </div> -->
            <div class="col-md-12" ng-repeat="question in vm.questions" id="question_{{question.id}}">
                <hr />
                <h3 style="margin:3px 0px;" ng-click="vm.getQuestionById(question.id); ">Question: <span ng-bind="$index + 1"></span></h3>
                <div style="overflow:auto;margin-right:-13px;">
                    <div ng-bind-html="question.passage">
                    </div>
                    <div ng-bind-html="question.question" ng-if="question.question">
                    </div>
                    <div ng-bind-html="question.questionText" ng-if="question.questionText">
                    </div>
                    <div>
                        <u>Options</u>:
                        <p class="options-review" ng-repeat="answer in question.answers | orderBy: 'ansKey'">
                            <span class="badge" ng-bind="answer.ansKey" ng-class="{ 'correct-answer' : question.correctAnswer==answer.ansKey}"></span>
                            <span style="display:inline-block;text-align:justify;" ng-bind-html="answer.answerText" ng-if="answer.answerText"></span>
                            <span style="display:inline-block;text-align:justify;" ng-bind-html="answer.ansText" ng-if="answer.ansText"></span>
                        </p>
                    </div>
                    <div>
                        <u>Explanation</u>:
                        <span ng-bind-html="question.explanation" ng-if="question.explanation" style="text-align:justify;"></span>
                        <span ng-bind-html="question.explanationText" ng-if="question.explanationText" style="text-align:justify;"></span>
                    </div>
                    <!-- <ul class="list-group" style="width:98%;">
                        <li class="list-group-item" ng-repeat="answer in question.answers | orderBy: 'ansKey'" style="text-align:left;">
                            <span ng-bind="($index + 97) | charCodeToChar" class="options-review"></span>)
                            <span ng-bind-html="answer.answerText" class="options-review" style="display:inline-block;white-space:pre-wrap" ng-if="answer.answerText"></span>
                            <span ng-bind-html="answer.ansText" class="options-review" style="display:inline-block;white-space:pre-wrap" ng-if="answer.ansText"></span>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
