<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right" ng-if="!vm.isQuestionSelected" style="margin-right:35px;">
                        <div class="btn-group" uib-dropdown dropdown-append-to-body=true>
                            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                                Add New <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem">
                                    <a href="javascript:void(0);" ng-click="vm.editTest('insert');">Test</a>
                                </li>
                                <li role="menuitem">
                                    <a href="javascript:void(0);" ng-click="vm.editQuestionPaper('insert');">Question Paper</a>
                                </li>
                                <li role="menuitem">
                                    <a href="javascript:void(0)" ng-click="vm.addSubject();">Subject</a>
                                </li>
                                <li role="menuitem">
                                    <a href="javascript:void(0);" ng-click="vm.editQuestion('insert');">Question</a>
                                </li>
                            </ul>
                        </div>
                        <button ng-if="vm.selectedTab == 2" class="btn btn-default" type="button" ngf-select="vm.importQuestion($file)" ng-model="vm.question.file" name="file" ngf-pattern="'.xlsx'" ngf-accept="'.xlsx'" ngf-max-size="20MB">
                            <i class="fa fa-upload" aria-hidden="true"></i> Import Questions
                        </button>
                    </span>
                    <span class="pull-right" ng-if="vm.isQuestionSelected">
                        <span uib-dropdown>
                            <button id="questionPaperList" type="button" class="btn btn-default" uib-dropdown-toggle>
                                Add To Question Paper <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="questionPaperList">
                                <li role="menuitem" ng-click="vm.addToPaper(quesPaper.id);" ng-repeat="quesPaper in vm.questionPapers">
                                    <a href="javascript:void(0);" ng-bind="quesPaper.name"></a>
                                </li>
                            </ul>
                        </span>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <uib-tabset active="vm.selectedTab" type="pills" justified="true">
                    <uib-tab index="0" heading="Test" select="vm.getAllTests();vm.selectedTab=0;" style="border:1px solid #ddd;border-radius:4px;">
                    <table class="table table-striped table-hover table-valign-middle" style="border:1px solid lightgrey;margin-bottom:0px;">
                        <thead>
                            <tr class="success">
                                <th>#</th>
                                <th>Title</th>
                                <th>Durations</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Question Paper</th>
                                <th>Students</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in vm.tests">
                                <th scope="row" ng-bind="$index + 1"></th>
                                <td ng-bind="test.title"></td>
                                <td ng-bind="test.durationInHrs"></td>
                                <td ng-bind="test.startDate | date : 'fullDate'"></td>
                                <td ng-bind="test.endDate | date : 'fullDate'"></td>
                                <td ng-bind="test.questionPaperName"></td>
                                <td ng-bind="test.userCount"></td>
                                <td>
                                    <i class="fa fa-pencil-square-o fa-lg fa-fw" title="Edit" aria-hidden="true" ng-click="vm.getTestById(test.id); " style="vertical-align:-4px;"></i>
                                    <i class="fa fa-trash-o fa-lg fa-fw" title="Delete" aria-hidden="true" ng-click="vm.deleteTest(test.id)"></i>
                                    <i class="fa fa-users fa-lg fa-fw" aria-hidden="true" ng-if="test.userCount" title="Show User" ng-click="vm.getTestUsers(test);"></i>
                                    <i class="fa fa-check-square-o fa-lg fa-fw" title="Evaluate" ng-if="test.userCount" aria-hidden="true" ng-click="vm.recheck(test.id)" style="color:blue;"></i>
                                    <i class="fa fa-check-square-o fa-lg fa-fw" title="Evaluate" ng-if="test.userCount" aria-hidden="true" ng-click="vm.evaluation(test.id)"></i>
                                    <i class="fa fa-check-square-o fa-lg fa-fw" title="Evaluate" ng-if="test.userCount" aria-hidden="true" ng-click="vm.evaluationAll(test.id)" style="color:red;"></i>
                                    <i class="fa fa-search fa-lg fa-fw" title="Preview" aria-hidden="true" ng-click="vm.showTestPreview(test)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="1" heading="Question Paper" select="vm.getAllquestionPapers();vm.selectedTab=1;" style="border:1px solid #ddd;border-radius:4px;">
                    <table class="table table-striped table-hover table-valign-middle" style="border:1px solid lightgrey;margin-bottom:0px;">
                        <thead>
                            <tr class="success">
                                <th>#</th>
                                <th>Name</th>
                                <th>No. Of Questions</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quesPaper in vm.questionPapers">
                                <th scope="row" ng-bind="$index + 1"></th>
                                <td ng-bind="quesPaper.name"></td>
                                <td ng-bind="quesPaper.questionCount"></td>
                                <td>
                                    <i class="fa fa-pencil-square-o fa-lg fa-fw" title="Edit" aria-hidden="true" ng-click="vm.editQuestionPaper('edit', quesPaper); " style="vertical-align:-4px;"></i>
                                    <i class="fa fa-trash-o fa-lg fa-fw" title="Delete" aria-hidden="true" ng-click="vm.deleteQuestionPaper(quesPaper.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Questions" select="vm.getAllQuestions(1);vm.selectedTab=2;" style="border:1px solid #ddd;border-radius:4px;">
                    <nav aria-label="Page navigation">
                        <div class="pull-left" style="margin:9px 12px;">Total: <span ng-bind="vm.questionCount"></span></div>
                        <ul class="pagination pull-right" style="margin:4px 2px;">
                            <li>
                                <a href="javascript:void(0);" aria-label="Previous" ng-click="vm.getAllQuestions(1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-class="{'disabled': vm.currentPage == 1}">
                                <a href="javascript:void(0);" ng-click="vm.currentPage != 1 && vm.getAllQuestions(vm.currentPage - 1)">Previous</a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0);" ng-bind="vm.currentPage"></a>
                            </li>
                            <li ng-class="{'disabled': vm.currentPage == vm.lastPage}">
                                <a href="javascript:void(0);" ng-click="vm.currentPage != vm.lastPage && vm.getAllQuestions(vm.currentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" aria-label="Next" ng-click="vm.getAllQuestions(vm.lastPage)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <table class="table table-striped table-hover table-valign-middle" style="border:1px solid lightgrey;margin-bottom:0px;">
                        <thead>
                            <tr class="success">
                                <th></th>
                                <th>Id</th>
                                <th>Question</th>
                                <th>Type</th>
                                <th><span style="white-space:nowrap;">Question Papers</span></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="question in vm.questions">
                                <th scope="row">
                                    <input type="checkbox" ng-change="vm.questionSelection();" ng-model="question.isSelected" />
                                </th>
                                <td ng-bind="question.id"></td>
                                <td ng-bind="question.question | htmlToPlaintext">
                                </td>
                                <td ng-bind="question.type"></td>
                                <td>
                                    <span ng-repeat="questionPaper in question.questionPapers">
                                            <span style="white-space:nowrap;" ng-bind="questionPaper.name"></span>
                                    <br ng-if="!$last" />
                                    </span>
                                </td>
                                <td>
                                    <i class="fa fa-pencil-square-o fa-lg fa-fw" title="Edit" aria-hidden="true" ng-click="vm.getQuestionById(question.id); " style="vertical-align:-4px;"></i>
                                    <i class="fa fa-trash-o fa-lg fa-fw" title="Delete" aria-hidden="true" ng-click="vm.deleteQuestion(question.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right" style="margin:4px 2px;">
                            <li>
                                <a href="javascript:void(0);" aria-label="Previous" ng-click="vm.getAllQuestions(1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-class="{'disabled': vm.currentPage == 1}">
                                <a href="javascript:void(0);" ng-click="vm.currentPage != 1 && vm.getAllQuestions(vm.currentPage - 1)">Previous</a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0);" ng-bind="vm.currentPage"></a>
                            </li>
                            <li ng-class="{'disabled': vm.currentPage == vm.lastPage}">
                                <a href="javascript:void(0);" ng-click="vm.currentPage != vm.lastPage && vm.getAllQuestions(vm.currentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" aria-label="Next" ng-click="vm.getAllQuestions(vm.lastPage)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </uib-tab>
            </uib-tabset>
        </div>
        <script type="text/ng-template" id="editQuestionPaper.html">
            <div class="modal-header">
                <h3 class="modal-title">Question Paper</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="quesPaper.name">Name</label>
                    <input type="text" class="form-control" id="quesPaper.name" placeholder="Name" ng-model="quesPaper.name" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok();$close();">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$close();">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="addSubjects.html">
            <div class="modal-header">
                <h3 class="modal-title">Subject</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="subject.name">Name</label>
                    <input type="text" class="form-control" id="subject.name" placeholder="Name" ng-model="subject.name" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok();$close();">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$close();">Cancel</button>
            </div>
        </script>
    </div>
</div>
</div>
