<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3 ng-bind="vm.exam.title"></h3>
        </div>
        <div class="col-md-12">
            <uib-tabset active="vm.selectedTab" type="pills" justified="true" >
                <uib-tab index="0" heading="Scorecard" select="" class="row" style="border:1px solid #ddd;border-radius:4px;">
                    <div class="col-md-4" style="margin-top:10px;">
                        <table class="table table-striped" style="border:1px solid #DDD;">
                            <tbody>
                                <tr>
                                    <td>Score</td>
                                    <td ng-bind="vm.userAnswers.score"></td>
                                </tr>
                                <tr>
                                    <td>Percentile</td>
                                    <td ng-bind="vm.userAnswers.percentile"></td>
                                </tr>
                                <tr ng-if="false">
                                    <td>Rank</td>
                                    <td ng-bind="vm.userAnswers.rank"></td>
                                </tr>
                                <tr>
                                    <td>Correct</td>
                                    <td ng-bind="vm.userAnswers.totalCorrect"></td>
                                </tr>
                                <tr>
                                    <td>Incorrect</td>
                                    <td ng-bind="vm.userAnswers.totalIncorrect"></td>
                                </tr>
                                <tr>
                                    <td>Marks Per Question</td>
                                    <td ng-bind="vm.userAnswers.marksPerQues"></td>
                                </tr>
                                <tr ng-if="vm.userAnswers.negativeMarks">
                                    <td>Negative Marks</td>
                                    <td ng-bind="vm.userAnswers.negativeMarks"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Solutions" select="" style="border:1px solid #ddd;border-radius:4px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="pull-left">
                                        <span class="label label-primary">Score: <span ng-bind="vm.userAnswers.score"></span></span>
                                        <!-- <span class="label label-primary">Rank: <span ng-bind="vm.userAnswers.rank"></span></span> -->
                                    </div>
                                    <div class="pull-right">
                                        <span class="label label-success">Correct: <span ng-bind="vm.userAnswers.totalCorrect"></span></span>
                                        <span class="label label-danger">Incorrect: <span ng-bind="vm.userAnswers.totalIncorrect"></span></span>
                                        <span class="label label-warning">Unanswered: <span ng-bind="vm.userAnswers.totalUnanswered"></span>
                                    </div>
                                    <!-- <input type="text" ng-model="vm.searchQue.result" /> -->
                                </td>
                            </tr>
                            <tr ng-repeat="question in vm.questions | filter: vm.searchQue : true">
                                <th scope="row" style="width:2%;">
                                    <div style="padding:4px;" ng-bind="$index + 1"></div>
                                </th>
                                <td>
                                    <div style="background-color:#F8F8F8;padding:4px;" ng-if="question.passage" ng-bind-html="question.passage"></div>
                                    <div style="background-color:#F8F8F8;padding:4px;" ng-bind-html="question.question"></div>
                                    <div>
                                        <u>Options</u>:
                                        <p class="options-review" ng-repeat="answer in question.answers | orderBy: 'ansKey'">
                                            <span class="badge" ng-class="{ 'incorrect-answer' : question.result=='incorrect' && answer.ansKey == question.userAnsKey, 'correct-answer' : answer.ansKey == question.correctAnsKey}" ng-bind="answer.ansKey"></span>
                                            <span style="display:inline-block;" ng-bind-html="answer.answerText"></span>
                                        </p>
                                    </div>
                                    <u>Selected Option</u>:
                                    <p class="options-review" ng-bind-html="question.userAnswer"></p>
                                    <u>Correct Option</u>:
                                    <p class="options-review" ng-bind-html="question.correctAnswer"></p>
                                    <span ng-bind-html="question.explanation"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Ranking" select="" style="border:1px solid #ddd;border-radius:4px;" ng-if="false">
                    <table class="table table-striped table-hover table-bordered" style="border:1px solid lightgrey;margin-bottom:0px;">
                        <thead>
                            <tr class="success">
                                <th>#</th>
                                <th>Roll No.</th>
                                <th>Score</th>
                                <th>Percentile</th>
                                <!-- <th>Rank</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.testUsers">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="user.id"></td>
                                <td ng-bind="user.score"></td>
                                <td ng-bind="user.percentile"></td>
                                <!-- <td ng-bind="user.rank"></td> -->
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
