<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-striped table-hover table-bordered" style="border:1px solid lightgrey;">
                    <thead>
                        <tr class="success">
                            <th>S No.</th>
                            <th>Test Series</th>
                            <th>Test Plan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="series in vm.testSeries">
                            <th scope="row" ng-bind="$index + 1"></th>
                            <td ng-bind="series.name"></td>
                            <td>
                                <a ng-if="series.testPlan" target="_self" href="{{series.testPlan}}" download="file">
                                    <i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.showExam(series)" ng-if="series.isSubscribed">
                                    <i class="fa fa-play fa-fw" aria-hidden="true"></i> Show Tests
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.subscribeTestSeries(series)" ng-if="!series.isSubscribed">
                                    <i class="fa fa-play fa-fw" aria-hidden="true"></i> Subscribe
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
