<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3 ng-bind="vm.exam.title"></h3>
        </div>
        <div class="col-md-12 row">
            <uib-tabset active="vm.selectedTab" type="pills" justified="true">
                <uib-tab index="0" heading="Scorecard" select="" class="row" style="border:1px solid #ddd;border-radius:4px;">
                    <div class="col-md-4" style="margin-top:10px;">
                        <table class="table table-striped" style="border:1px solid #DDD;">
                            <tbody>
                                <tr>
                                    <td>Score</td>
                                    <td ng-bind="vm.userAnswers.score"></td>
                                </tr>
                                <tr ng-if="false">
                                    <td>Percentile</td>
                                    <td ng-bind="vm.userAnswers.percentile"></td>
                                </tr>
                                <tr>
                                    <td>Rank</td>
                                    <td ng-bind="vm.userAnswers.rank"></td>
                                </tr>
                                <tr>
                                    <td>Correct</td>
                                    <td ng-bind="vm.userAnswers.totalCorrect"></td>
                                </tr>
                                <tr>
                                    <td>Incorrect</td>
                                    <td ng-bind="vm.userAnswers.totalIncorrect"></td>
                                </tr>
                                <tr>
                                    <td>Marks Per Question</td>
                                    <td ng-bind="vm.userAnswers.marksPerQues"></td>
                                </tr>
                                <tr ng-if="vm.userAnswers.negativeMarks">
                                    <td>Negative Marks</td>
                                    <td ng-bind="vm.userAnswers.negativeMarks"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8" style="margin-top:10px;">
                        <table class="table table-striped" style="border:1px solid #DDD;">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Total</th>
                                    <th>Correct</th>
                                    <th>Incorrect</th>
                                    <th>Unanswered</th>
                                </tr>
                                <tr ng-repeat="subject in vm.subjectWise">
                                    <td ng-bind="subject.name"></td>
                                    <td ng-bind="subject.total"></td>
                                    <td ng-bind="subject.correct"></td>
                                    <td ng-bind="subject.incorrect"></td>
                                    <td ng-bind="subject.unanswered"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Solutions" select="vm.getHtml()" style="border:1px solid #ddd;border-radius:4px;">
                    <div id="exportthis">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="pull-left">
                                            <span class="label label-primary">Score: <span ng-bind="vm.userAnswers.score"></span></span>    
                                        </div>
                                        <div class="pull-right">
                                            <span class="label label-success">Correct: <span ng-bind="vm.userAnswers.totalCorrect"></span></span>
                                            <span class="label label-danger">Incorrect: <span ng-bind="vm.userAnswers.totalIncorrect"></span></span>
                                            <span class="label label-warning">Unanswered: <span ng-bind="vm.userAnswers.totalUnanswered"></span></span>
                                        </div>
                                        <!-- <input type="text" ng-model="vm.searchQue.result" /> -->
                                    </td>
                                </tr>
                                <tr ng-repeat="question in vm.questions | filter: vm.searchQue : true">
                                    <th scope="row" style="width:2%;">
                                        <div style="padding:4px;" ng-bind="$index + 1"></div>
                                    </th>
                                    <td>
                                        <div style="background-color:#F8F8F8;padding:4px;text-align:justify;" ng-if="question.passage" ng-bind-html="question.passage"></div>
                                        <div style="background-color:#F8F8F8;padding:4px;" class="text-right" ng-if="question.difficultyMeterPercent">
                                            <span class="label label-info">
                                                <span ng-bind="question.difficultyMeterText"></span> :
                                            <span ng-bind="question.difficultyMeterPercent"></span>% of student have answered this question correctly
                                            </span>
                                        </div>
                                        <div style="background-color:#F8F8F8;padding:4px;text-align:justify;" ng-bind-html="question.question" ng-if="vm.selectedLang == 1"></div>
                                        <div style="background-color:#F8F8F8;padding:4px;text-align:justify;" ng-bind-html="question.questionText" ng-if="vm.selectedLang == 2"></div>
                                        <div>
                                            <u>Options</u>:
                                            <p class="options-review" ng-repeat="answer in question.answers | orderBy: 'ansKey'">
                                                <span class="badge" ng-bind="answer.ansKey"></span>
                                                <span style="display:inline-block;text-align:justify;" ng-bind-html="answer.answerText" ng-if="vm.selectedLang == 1"></span>
                                                <span style="display:inline-block;text-align:justify;" ng-bind-html="answer.ansText" ng-if="vm.selectedLang == 2"></span>
                                            </p>
                                        </div>
                                        <div ng-if="question.subjectName">
                                            <b>Subject:</b> <span ng-bind="question.subjectName"></span>
                                        </div>
                                        <u>Selected Option</u>:
                                        <p class="options-review">
                                            <span class="badge" ng-class="{ 'incorrect-answer' : question.result=='incorrect', 'correct-answer' : question.result=='correct'}" ng-bind="question.userAnsKey"></span>
                                            <span ng-bind-html="question.userAnswer" style="display:inline-block"></span>
                                        </p>
                                        <u>Correct Option</u>:
                                        <p class="options-review">
                                            <span class="badge correct-answer" ng-bind="question.correctAnsKey"></span>
                                            <span ng-bind-html="question.correctAnswer" style="display:inline-block"></span>
                                        </p>
                                        <span ng-bind-html="question.explanation" ng-if="vm.selectedLang == 1" style="text-align:justify;"></span>
                                        <span ng-bind-html="question.explanationText" ng-if="vm.selectedLang == 2" style="text-align:justify;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Ranking" select="" style="border:1px solid #ddd;border-radius:4px;" ng-if="vm.userAnswers.rank != null">
                    <table class="table table-striped table-hover table-bordered" style="border:1px solid lightgrey;margin-bottom:0px;">
                        <thead>
                            <tr class="success">
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.testUsers">
                                <td ng-bind="user.rank"></td>
                                <td ng-bind="user.fullName"></td>
                                <td ng-bind="user.score"></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
