body {
    font-family: 'arial'
}

/*body {
    font-family: 'Georgia'
}*/


/*used in Library pannel as round button starts*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 4px 0px;
}


/*used in Library pannel as round button ends*/


/* to align button in bottom of the div starts*/

.bottomaligned {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    margin: 7px;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 100px;
}

.fixedheight {
    height: 150px;
    position: relative;
}

.body-fixed-height {
    height: 90px;
    overflow: hidden;
}


/* to align button in bottom of the div ends*/

.selectedLesson {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}


/* Text angular css for height starts*/

.import-questions .ta-editor {
    height: auto;
    min-height: auto;
    max-height: 200px;
}

.import-questions .ta-bind {
    min-height: auto;
}

.test-questions .ta-editor {
    height: 200px;
    min-height: 200px;
}

.test-questions .ta-bind {
    min-height: 197px;
}

.test-answer-options .ta-editor {
    min-height: 61px;
    height: 61px;
}

.test-answer-options .ta-bind {
    min-height: 57px;
}


/* Text angular css for height ends*/

.options-review {
    padding: 4px 0px 4px 8px;
}

.options-review p {
    margin: 0px;
}


/* ellipsis */

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Table css */

.table-valign-middle > tbody > tr > td {
    vertical-align: middle;
}


/* Test result css */

.incorrect-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}

.body-background {
    background-image: url('/assets/images/forumias-academy-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.row.top {
    margin-right: 4%;
    margin-top: 10%;
}

.col-xs-offset-1 .logo-mobile {
    display: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
    text-align: center;
}

.ans-options .btn-default:active,
.ans-options .btn-default.active,
.ans-options .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.ans-options .btn-default:active:hover,
.ans-options .btn-default.active:hover,
.ans-options .open > .dropdown-toggle.btn-default:hover,
.ans-options .btn-default:active:focus,
.ans-options .btn-default.active:focus,
.ans-options .open > .dropdown-toggle.btn-default:focus,
.ans-options .btn-default:active.focus,
.ans-options .btn-default.active.focus,
.ans-options .open > .dropdown-toggle.btn-default.focus{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

@media screen and (max-width: 480px) {
    .col-xs-offset-1 {
        margin-left: 0;
    }
    .body-background {
        background: #1E3A59;
    }
    .row.top {
        margin-right: 0%;
        margin-top: 5%;
        margin-left: 0px;
    }
    .col-xs-offset-1 .logo-mobile {
        background-image: url("/assets/images/forumias-white-small.png");
        background-repeat: no-repeat;
        color: #fff;
        display: block;
        height: 40px;
        margin-bottom: 7%;
        margin-left: 14%;
    }
    .col-xs-offset-1 {
        margin-top: 15%;
    }
    .navigation-btn button {
        margin: 4px 0px;
    }
}
