/*used in Library pannel as round button starts*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 4px 0px;
}


/*used in Library pannel as round button ends*/


/* to align button in bottom of the div starts*/

.bottomaligned {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    margin: 7px;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 100px;
}

.fixedheight {
    height: 150px;
    position: relative;
}

.body-fixed-height {
    height: 90px;
    overflow: hidden;
}


/* to align button in bottom of the div ends*/

.selectedLesson {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}


/* Text angular css for height starts*/

.test-questions .ta-editor {
    height: 200px;
    min-height: 200px;
}

.test-answer-options .ta-editor {
    min-height: 100px;
    height: 100px;
}


/* Text angular css for height ends*/

.options-review {
    padding: 4px 0px 4px 8px;
}

.options-review p {
    margin: 0px;
}


/* ellipsis */

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Table css */

.table-valign-middle > tbody > tr > td {
    vertical-align: middle;
}


/* Test result css */

.incorrect-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}

.body-background {
    background-image: url('/assets/images/forumias-academy-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
}
